.contact {
	width: 50vw;
	margin: 0 auto;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	color: rgb(var(--text-colour));
	gap: 30px;
}
.contact-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.contact-details p {
	opacity: 0.7;
}
.contact-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0 20px;
}
.email {
	width: 100%;
	height: 56px;
	border-radius: 8px;
	background-color: rgba(var(--text-colour), 0.8);
	border: none;
	outline: none;
	padding: 0 10px;
	font-size: 17px;
}
.msg-dec {
	height: 208px;
	padding-top: 20px;
	font-family: sans-serif;
}
.contact-form button {
	width: 130px;
	background-color: rgba(var(--text-colour), 20%) !important;
	height: 50px;
	border-radius: 25px;
	text-decoration: none !important;
	color: rgb(var(--text-colour));
	font-weight: 500;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	outline: none;
	gap: 5px;
	transition: all 0.2s;
	cursor: pointer;
}
.contact-form i{
	font-size: 12px;
	transition: all 0.3s;
	opacity: 0.7;
}
::placeholder {
	font-size: 17px;
	opacity: 0.7;
	font-family: sans-serif;
}
input:focus,textarea:focus {
	background-color: rgba(var(--text-colour), 1);
}

.contact-form button:hover{
	transform: scale(110%);
	
}
.contact-form button:hover i{
	translate: 7px -7px;
}



@media screen and (max-width: 425px){
	.contact{
		width: 90vw;
	}
	.contact-form{
		padding: 0 ;
	}
	.contact-details p {
		text-align: center;
	}
}
